<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lexer Tester</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>Lexer Tester</h1>
    <textarea id="code" rows="4" cols="50"></textarea>
    <br>
    <button onclick="analyzeCode()">Analyze</button>
    <br>
    <div id="resultContainer"></div> <!-- Nuevo div para mostrar el resultado -->
    <script>
        function analyzeCode() {
            const code = document.getElementById('code').value;

            fetch('/api/v1/lexer', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ code: code }),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('HTTP error! Status: ${response.status}');
                    }
                    return response.text();
                })
                .then(data => {
                    // Insertar el contenido HTML en el div resultContainer
                    document.getElementById('resultContainer').innerHTML = data;
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</body>

</html>
